@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Raleway:wght@300;500;600;700&display=swap');


/* base styles */
*{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  /* box-sizing: border-box; */
}
/* navbar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #2080df;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #2080df
}
/* app content */
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
/* BookList */
.book-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.book-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  cursor: pointer;
}
.book-preview h2{
  font-size: 20px;
  color: #2080df;
  margin-bottom: 8px;
}
.book-preview a{
  text-decoration: none;
}

/* book details page */
.book-details {
  padding: 10px 16px;
}
.book-details h2 {
  font-size: 20px;
  color: #2080df;
  margin-bottom: 10px;
}
.book-details div {
  margin: 20px 0;
}
.book-details button {
  background: #2080df;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* add new book form */
.add-book {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.add-book label {
  text-align: left;
  display: block;
}
.add-book h2 {
  font-size: 20px;
  color: #2080df;
  margin-bottom: 30px;
}
.add-book input, .add-book textarea {
  width: 100%;
  font-size: 14px;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.add-book button {
  background: #2080df;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.auto-complete {
  width: 100%;
  font-size: 14px;
}
/* only activated when there are suggestions to be shown - see AutoComple component's className */
.auto-complete-on {
  border: 1px solid #b3d6ff;
  border-top: 0;
  margin: -10px auto 10px;
}
.auto-complete ul {
  list-style-type: none;
  padding: 0;
}
.auto-complete li {
  padding: 6px 10px;
  display: block;
}
.auto-complete li:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  cursor: pointer;
}




